/* FOR MOBILE */
body {
  font-family: 'Roboto', sans-serif;
  width: 100%
}

/* set position so objects can use position: absolute, center main image */
#all-me {
  position: relative;
  text-align: center;
}

/* set width of main image */
#me {
  width: 55%;
}

/* position muji pen in pocket, start with low opacity */
#muji-in-pocket {
  width: 2.5%;
  position: absolute;
  top: 52.2%;
  left: 36.6%;
  opacity: .5;
}

/* position phone in pocket, start with low opacity */
#phone-in-pocket {
  width: 6.5%;
  position: absolute;
  top: 51.4%;
  right: 33.2%;
  opacity: .5;
}

/* position glasses on face, start with low opacity */
#glasses-on-face {
  width: 37.5%;
  position: absolute;
  top: 13.1%;
  left:31.2%;
  opacity: .5;
}

/* style h1 */
h1 {
  margin: 4% 1% 4% 1%;
  font-size: 2em;
  text-align: center;
}

/* style object info */
.content {
  position: absolute;
  top: 40%;
  font-size: .8em;
  line-height: 1.2;
  padding: 6%;
  margin: 4%;
  background-color: black;
  color: white;
  opacity: .85;
  display: none;
}
.content img {
  float: left;
  padding: 1% 5% 0 2%;
  opacity: 1;
}

/* set muji pen size */
#muji img {
  width: 6%;
}

/* set phone size */
#phone img {
  padding: 4% 4% 4% 0;
  width: 30%;
}

/* set glasses size */
#glasses img {
  display: block;
  margin: auto;
  width: 60%;
  float: none;
}

/* footer styles */
footer {
  font-size: .6em;
  padding: 4% 2% 2% 0%;
  text-align: right;
}
footer a {
  color: gray;
  text-decoration: none;
  padding-right: 2%;
}

/* FOR DESKTOP */
@media only screen and (min-width: 768px) {
  /* set main image size */
  #me {
    width: 17%;
  }
  /* h1 style */
  h1 {
    margin: 1% 0 1% 0;
    font-size: 2.5em;
    text-align: center;
  }

  /* resize/position muji in pocket for desktop */
  #muji-in-pocket {
    width: .75%;
    position: absolute;
    top: 52.34%;
    left: 45.9%;
  }

  /* resize/position phone in pocket for desktop */
  #phone-in-pocket {
    width: 2%;
    position: absolute;
    top: 51.4%;
    right: 44.85%;
  }

  /* resize/position glasses on face for desktop */
  #glasses-on-face {
    width: 11.5%;
    position: absolute;
    top: 13.1%;
    left: 44.2%;
  }

  /* restyle info box for desktop */
  .content {
    position: absolute;
    top: 38%;
    font-size: .8em;
    line-height: 1.2;
    padding: 1%;
    margin: 0 32% 0 32%;
    background-color: black;
    color: white;
    opacity: .85;
    display: none;
  }
  .content img {
    float: left;
    padding: 1% 5% 0 2%;
    opacity: 1;
  }

  /* set width of objects for desktop */
  #muji img {
    width: 3%;
  }
  #phone img {
    padding: 1% 4% 1% 0;
    width: 23%;
  }
  #glasses img {
    display: block;
    margin: auto;
    width: 60%;
  }

  /* footer styles */
  #footer {
    padding: 0;
  }
}
